#navbar ul{
	margin: 0px;
	padding: 0px;
	margin-left: 175px;
}
#navbar ul li{
	background-color: #0eb6f8;
	border:1px solid white;
	height: 30px;
	width: 10em;
	line-height: 30px;
	float: left;
	text-align: center;
	list-style: none;
	display: block;

	
}
#navbar ul li a{
	color: white;
	text-decoration: none;
	display: block;
	font-family: arial;
	font-weight: bold;
	font-size: 15px;
}
#navbar ul li:hover{
	
	color: white;
	
}
#navbar ul li ul li{
	display: none;
}
#navbar ul li:hover ul li{
	display: block;
	color: white;
	width: 7em;
}
